.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 30px 30px;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background_header.svg);
}

.header__title {
  margin: 183px 0 0 80px;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.6px;
  font-style: normal;
  font-weight: 500;
  z-index: 1;
}

.header__span-accent {
  display: block;
  font-style: italic;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  z-index: 1;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
}

.header__image {
  margin: 0;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__footer {
  margin: 0 80px 40px;
  margin-top: auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__address {
  margin: 0;
  padding: 0;
}
