.reservation {
  margin: 0;
  padding: 100px 0px 120px 0px;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reservation__title {
  margin: 0 0 80px 0;
  padding: 0;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
