/* ##################importando normalize####################### */
@import url(../vendor/normalize.css);
/* ##################importando header####################### */
@import url(../blocks/header.css);
/* ##################importando recipes####################### */
@import url(../blocks/recipes.css);
/* ##################importando reservation####################### */
@import url(../blocks/reservation.css);
/* ##################importando menu####################### */
@import url(../blocks/menu.css);
/* ##################importando sobre####################### */
@import url(../blocks/about.css);
/* ##################importando footer####################### */
@import url(../blocks/footer.css);

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}
